.our-works {
  margin-bottom: 20px;
}

.our-works-container {
  width: 100%;
}

.our-works-wrapper {
  width: 100%;
  grid-row-gap: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;     
}

.our-works-title {
  color: #F1E7D5;
  font-family: 'Pribambas';
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.our-works-container {
  background-color: #222222;
  border-top: 1px solid #222222
}

.single-cover-container {
  height: auto;
  background-color: #222222;
  display: grid;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.single-cover {
  width: 100%;
  transition: transform;
  transition-duration: 1000ms; 
}

.single-cover:hover {
  transform: scale(1.2, 1.2);

}

@media screen and (max-width: 767px) {
  .our-works-wrapper {     
    grid-template-rows: repeat(7, auto);
    grid-row-gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .our-works-wrapper {   
    grid-template-rows: repeat(2, 1fr);   
    grid-template-columns: 1fr 1fr 1fr;
  }

  .our-works-title {      
    font-size: 25px;      
  }
}

